@font-face {
  font-family: "Grtsk Giga";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/GrtskGiga-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Grtsk Giga";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/GrtskGiga-BoldItalic.woff2) format("woff2");
}

@font-face {
  font-family: "Grtsk Giga";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/GrtskGiga-Semibold.woff2) format("woff2");
}
